@import url(reset.css);
html,
body,
.container {
  width: 100%;
  height: 100%;
  ovreflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 4.89rem;
  background: none;
  background: url(../img/矩形-24.png) no-repeat;
  background-size: 100% 3.14rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}
.container header .picture img {
  margin-top: 0.36rem;
  width: 1.56rem;
  height: auto;
  background: none;
}
.container header p {
  color: #ffffff;
  font-size: 0.31rem;
}
.container header p a {
  color: #ffffff;
}
.container header span {
  font-size: 0.28rem;
  color: #ffffff;
}
.container header span a img {
  width: 0.35rem;
  height: 0.33rem;
  background: none;
  margin-left: 0.09rem;
}
.container header .expert {
  text-align: center;
  line-height: 0.47rem;
  height: 0.47rem;
  width: 2.48rem;
  color: #ff8401;
  font-size: 0.26rem;
  background: #fee4c6;
  border-radius: 0.05rem;
}
.container header .expert img {
  width: 0.26rem;
  height: 0.27rem;
  background: none;
  margin-right: 0.06rem;
}
.container header .msg {
  width: 1.37rem;
  height: 0.47rem;
  background: none;
  position: absolute;
  right: 0.4rem;
  top: 0.23rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container header .msg .one {
  display: block;
  -webkit-box-flex: 1;
}
.container header .msg .one .big {
  width: 0.42rem;
  height: 0.46rem;
  background: none;
}
.container header .msg .one .all {
  width: 0.27rem;
  height: 0.27rem;
  background: none;
  position: absolute;
  right: 0.84rem;
  top: 0;
}
.container header .msg .two {
  display: block;
  margin-top: 3px;
}
.container header .msg .two img {
  width: 0.39rem;
  height: 0.39rem;
  background: none;
}
.container header .num {
  width: 1.77rem;
  height: 0.45rem;
  background: none;
  background: url(../img/圆角矩形-5.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 6rem;
  top: 0.99rem;
  text-indent: 0.15rem;
}
.container header .num a {
  color: #ffffff;
  font-size: 0.24rem;
}
.container header .main {
  width: 100%;
  height: 1.75rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 0.6rem;
  text-align: center;
  -webkit-box-align: center;
}
.container header .main .on {
  -webkit-box-flex: 1;
  border-right: 1px solid #e6e6e6;
}
.container header .main .on img {
  width: 0.6rem;
  height: 0.36rem;
  background: none;
}
.container header .main .on2 {
  -webkit-box-flex: 1;
  border-right: 1px solid #e6e6e6;
}
.container header .main .on2 .two2 {
  font-size: 0.23rem;
}
.container header .main .on3 {
  -webkit-box-flex: 1;
}
.container header .main .on3 img {
  width: 0.51rem;
  height: 0.37rem;
  background: none;
}
.container header .main img {
  height: 0.36rem;
}
.container header .main h4 {
  font-size: 0.28rem;
}
.container section {
  overflow: auto;
  -webkit-box-flex: 1;
  background: #f3f3f3;
}
.container section .main2 .chunk {
  margin-bottom: 0.19rem;
}
.container section .main2 .chunk .up {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.84rem;
  background: #ffffff;
  margin-bottom: 0.02rem;
  -webkit-box-align: center;
}
.container section .main2 .chunk .up .map {
  width: 0.94rem;
  height: auto;
  background: none;
  text-align: center;
}
.container section .main2 .chunk .up .map img {
  width: 0.33rem;
  height: 0.34rem;
  background: none;
}
.container section .main2 .chunk .up .elect {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  font-size: 0.27rem;
}
.container section .main2 .chunk .up .elect h3 {
  line-height: 0.57rem;
  -webkit-box-flex: 1;
  color: #333333;
  font-size: 0.28rem;
}
.container section .main2 .chunk .up .elect h3 span {
  margin-left: 0.1rem;
  color: #999999;
  font-size: 0.25rem;
}
.container section .main2 .chunk .up .elect h3 a .three {
  width: 0.25rem;
  height: 0.26rem;
  background: none;
  position: absolute;
}
.container section .main2 .chunk .up .elect a {
  display: block;
  text-align: right;
  margin-right: 0.41rem;
}
.container section .main2 .chunk .up .elect a img {
  width: 0.12rem;
  height: 0.24rem;
  background: none;
}
.container section .main2 .chunk .up .elect .square {
  line-height: 0.57rem;
  margin-right: 0.41rem;
  text-align: center;
  background: #bababa;
  color: #ffffff;
  border-radius: 0.08rem;
  border-right: 1px solid #ff992c;
  height: 0.57rem;
  width: 1.32rem;
}
.container footer {
  width: 100%;
  height: 0.97rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  -webkit-box-align: center;
  border-top: 1px solid #eeeeee;
}
.container footer .left {
  -webkit-box-flex: 1;
}
.container footer .left img {
  width: 0.43rem;
  height: 0.43rem;
  background: none;
}
.container footer .center {
  -webkit-box-flex: 1;
}
.container footer .center img {
  width: 0.45rem;
  height: 0.36rem;
  background: none;
}
.container footer .right {
  -webkit-box-flex: 1;
}
.container footer .right img {
  width: 0.35rem;
  height: 0.39rem;
  background: none;
}
.container footer p {
  font-size: 0.22rem;
}
